@import url(http://fonts.googleapis.com/css?family=Habibi&subset=latin,latin-ext);
		@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic,400&subset=latin,latin-ext);

		body {
			font-family: 'Sorts Mill Goudy', Georgia, serif;
			background-color: #fff8ea;
			color: #5b3f0f;
			font-size: 1.2em;
			text-align: center;
		}
		
		h1, h2, h3, h4, h5 {
			font-weight: normal;
		}
		
		#main {
			font-size: 1.2em;
		}
		#main h1 {
			font-size: 2.3em;
			font-style: italic;
			margin: 0;
			padding: 0;
		}
		
		#main p,		
		#main address {
			font-size: 0.85em;
		}
		
		ul.dishes, ul.dishes li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		ul.dishes {
			font-size: 1.1em;
		}
		
		ul.dishes li {
			text-align: center;
			margin: 0;
			padding: 0;
			padding-bottom: 0.95em;
		}
		
		ul.dishes li.lowlighted {
			opacity: 0.65;
			text-decoration: line-through;
		}
		
		ul.dishes li h4 {
			margin: 0;
			padding: 0;
			padding-bottom: 0.2em;
			font-size: 1.05em;
		}
		
		h3 {
			font-size: 1.45em;
		}
		
		h3 em {
			display: block;
			font-size: 0.95em;
		}
		
		ul.dishes li p {
			margin: 0;
			font-size: 0.9em;
			padding: 0;
			padding-bottom: 0.45em;
		}
		
		ul.dishes li p span {
			display: block;
		}
		
		form.food-filter {
			text-align: left;
		}
		
		form.food-filter label {
			display: block;
		}